#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

h1{
text-align:  center;
}

.title{
  background: linear-gradient(to right, #ff4e50, #f9d423);
  color: #fff; 
  display: inline-block; 
  padding: 10px 20px; 
  font-size: 2.5rem; 
  font-weight: bold; 
  text-transform: uppercase; 
  border: 2px solid #fff;
  border-radius: 8px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 100%;
 
}

.list{
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border:  2px solid  rgb(100, 78, 189);
  background: linear-gradient(120deg, #fdfbfb, #ebedee);
  font-weight: 509;
  line-height: 30px;
  padding: 0;
  
}

ol{
  margin:0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
